.pull-right{float: right;}
.pull-left{float: left;}
.clear-fix{clear:both;}
div.logo{text-align: center; margin: 20px 20px 30px 20px; fill: #566375;}
div.logo svg{
    width:180px;
    height:100px;
}


div#form{
    /*position: absolute;*/
    width:100%;
    height:100%;
    height:auto;
    background-color: #fff;
    margin:auto;
    border-radius: 5px;
    padding:20px;
}
div.form-item{position: relative; display: block; margin-bottom: 16px;}
 input{transition: all .2s ease;}
 input.form-style{
    color:#8a8a8a;
    display: block;
    width: 100%;
    height: 50px;
    padding: 10px 5%;
    border:1px solid #ccc;
    -moz-border-radius: 27px;
    -webkit-border-radius: 27px;
    border-radius: 0px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    background-color: #fff;
    font-family:'HelveticaNeue','Arial', sans-serif;
    font-size: 105%;
    letter-spacing: .8px;
}
 select.form-style{
    color:#8a8a8a;
    display: block;
    width: 100%;
    height: 44px;
    padding: 10px 5%;
    border:1px solid #ccc;
    -moz-border-radius: 27px;
    -webkit-border-radius: 27px;
    border-radius: 0px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    background-color: #fff;
    font-family:'HelveticaNeue','Arial', sans-serif;
    font-size: 105%;
    letter-spacing: .8px;
}
div.form-item .form-style:focus {
  outline: none;
  border: 2px solid #58bff6;
  color: #58bff6;
}
div.form-item p.formLabel {
    position: absolute;
    left: 26px;
    top: 12px;
    transition: all .4s ease;
    color: #bbb;
}
.formTop{top:-1px !important; left:0;padding: 2px 0 0 0; font-size: 12px; color:#58bff6 !important;}
.formStatus{color:#8a8a8a !important;}
input[type="submit"].login{
    float:right;
    width: 112px;
    height: 37px;
    -moz-border-radius: 19px;
    -webkit-border-radius: 19px;
    border-radius: 19px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    background-color: #55b1df;
    border:1px solid #55b1df;
    border:none;
    color: #fff;
    font-weight: bold;
}
